.brandSliderContainer {
  text-align: center;
  padding: 20px 0;
}
.brandCouterContainer {
  position: relative;
  border-top: 1px solid #e9ebea;
  border-bottom: 1px solid #e9ebea;
  margin: 20px 0;
}

.headingContent {
  display: flex;
  position: absolute;
  top: -13px;
  align-items: center;
  gap: 8px;
  background-color: #fff;
  padding: 0 10px;
  left: 84px;
}

.stars {
  display: flex;
  align-items: center;
}

.starIcon {
  color: #f9bc21;
  font-size: 18px;
}

.headingText {
  font-weight:500;
}

.brandSlider {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  width: 100%;
  background-color: #fff;
  padding: 20px 0;
}

.sliderTrack {
  display: flex;
  gap: 40px;
  animation: scroll 20s linear infinite;
  width: max-content;
}

.slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide img {
  height: 60px;
  max-width: 150px;
  object-fit: contain;
  filter: grayscale(20%);
  transition: transform 0.3s ease-in-out;
}


@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

@media (max-width: 768px) {
  .brand-heading {
    flex-direction: row;
    justify-content: center;
  }

  .headingContent {
    left: 28px;
    flex-direction: row;
    justify-content: center;
  }

  .stars {
    display: none;
    margin-bottom: 0;
  }

  .sliderTrack {
    animation: scroll 30s linear infinite;
  }

  .slide :global(img) {
    height: 50px;
    max-width: 120px;
  }
}
@media (max-width:404px){
  /* .headingText{
    margin-top: -18px;
  } */
}